/* START - CONTACTO FORMULARIO */

form {
  padding: 60px;
  max-width: 400px;
  background-color: #e7e7e7;
  margin: 0 auto;
  input,
  textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: none;
  }
  button {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
  }
}

textarea {
  resize: none;
}
