/* VISTA MOBILE */
@media only screen and (max-width: 320px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: block;
  }

  .gridPadre {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }
}

/* VISTA TABLET */
@media only screen and (min-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: block;
  }

  .gridPadre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
