@import "nav";
@import "header";
@import "eventos";
@import "tienda";
@import "mediaqueries";
@import "vars";
@import "footer";

* {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  margin-top: 64px;
  width: 100%;
  height: 100vh;
  background-color: rgb(192, 169, 121);
}

.container-content {
  margin-left: 30px;
  h2 {
    @include size(6vmin);
    margin-top: 50px;
  }
  p {
    @include size(4vmin);
    margin-top: 15px;
  }
}
