* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
}

/* START - NAVBAR */

nav {
  grid-column: 1/3;
}

.navbar {
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 5%;
  color: black;
  background-color: goldenrod;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.267);
}

.nav-links {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
}

.nav-links li:hover {
  color: rgb(92, 91, 91);
  transform: rotate(6deg);
}

.nav-links li {
  margin: 0 10px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}

/* START - HEADER */

header {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/heroligh.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/3;
  filter: saturate(50%);
}

.header-content {
  margin-bottom: 150px;
  text-align: center;
  text-shadow: rgb(19, 18, 18);
}

.header-content h3 {
  font-size: 4vmin;
  text-decoration-color: black;
}

.line {
  width: 150px;
  height: 4px;
  background-color: black;
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h2 {
  font-size: 12vmin;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration-color: black;
  text-shadow: rgb(19, 18, 18);
}

.header-content p {
  font-size: 5vmin;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration-color: black;
  text-shadow: rgb(19, 18, 18);
}

/* START - EVENTOS */

.title {
  text-align: center;
  font-size: 4vmin;
  color: black;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muestras .row {
  margin-top: 50px;
}

h4 {
  font-size: 3vmin;
  color: black;
  margin: 20px auto;
}

p {
  color: black;
  padding: 0px 40px;
}

.muestras .contenido {
  margin-top: 30px;
}

/* START - TIENDA */

.title {
  text-align: center;
  font-size: 4vmin;
  color: black;
}

h4 {
  font-size: 3vmin;
  color: black;
  margin: 20px auto;
}

p {
  color: black;
  padding: 0px 40px;
}

.tienda {
  margin-top: 30px;
}

.imagenTienda:hover {
  filter: grayscale(100%);
  z-index: 5;
}

.gridPadre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "imagenUno imagenDos imagenTres"
    "imagenCuatro imagenCinco imagenSeis";
}

.imagenUno {
  grid-area: imagenUno;
}

.imagenDos {
  grid-area: imagenDos;
}

.imagenTres {
  grid-area: imagenTres;
}

.imagenCuatro {
  grid-area: imagenCuatro;
}

.imagenCinco {
  grid-area: imagenCinco;
}

.imagenSeis {
  grid-area: imagenSeis;
}

/* START - CONTACTO FORMULARIO */

form {
  padding: 60px;
  max-width: 400px;
  background-color: #e7e7e7;
  margin: 0 auto;
}

form input,
form textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: #525c66;
  font-size: 1em;
  resize: none;
}

form button {
  display: block;
  background-color: #0095eb;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 1em;
  color: white;
}

textarea {
  resize: none;
}

/* START - FOOTER */

footer {
  background-color: goldenrod;
  grid-column: 1/3;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer a {
  font-size: 50px;
  color: black;
}

/*VISTA MOVIL */

@media only screen and (max-width: 250px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: block;
  }

  .gridPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "imagenUno"
      "imagenDos"
      "imagenTres"
      "imagenCuatro"
      "imagenCinco"
      "imagenSeis";
  }
}

/* VISTA TABLET */
@media only screen and (min-width: 780px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: block;
  }

  .gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "imagenUno imagenDos"
      "imagenTres imagenCuatro"
      "imagenCinco imagenSeis";
  }
}
